@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700&family=Inter:wght@600;700;800&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,200;1,500&family=Quicksand:wght@500;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  color: black;
}
.active{
  background-color: red;
}
.scroll-barr::-webkit-scrollbar{
  display: none;
}
.sambung{
  background-position: 111% 0;
}
.hide{
  display: none;
}
/* index.css or your CSS file */
.dekstop-youtube {
  display: block; /* Show for desktop */
}

.mobile-youtube {
  display: none; /* Hide for desktop */
}

@media (max-width: 768px) {
  .dekstop-youtube {
    display: none; /* Hide for mobile */
  }

  .mobile-youtube {
    display: block; /* Show for mobile */
  }
}
